# Solve the problems on dataframe

# Import an excel format. (File is provided)

In [2]:
# Code
import numpy as np
import pandas as pd
df = pd.read_excel('data.xlsx',sheet_name="Sheet1")
df

,Id,Average Price,hotel_id,Hotel_Cat,city_id,accommodation_type_name,star_rating,chain_hotel,booking_date,checkin_date,checkout_date
0,1,71.060000,297388,D,9395,Hotel,2.5,non-chain,2016-08-02,2016-10-01,2016-10-02
1,2,76.560000,298322,D,9395,Hotel,3.0,non-chain,2016-08-02,2016-10-01,2016-10-02
2,3,153.880000,2313076,B,9395,Hotel,5.0,chain,2016-08-02,2016-10-01,2016-10-02
3,4,126.600000,2240838,D,9395,Hotel,3.5,non-chain,2016-08-04,2016-10-02,2016-10-03
4,5,115.080000,2240838,D,9395,Hotel,3.5,non-chain,2016-08-04,2016-10-02,2016-10-03
5,6,81.600000,331350,D,9395,Hotel,3.0,non-chain,2016-08-04,2016-10-03,2016-10-05
6,7,77.160000,782884,D,9395,Hotel,3.0,chain,2016-08-04,2016-10-03,2016-10-04
7,8,168.360000,2313076,B,9395,Hotel,5.0,chain,2016-08-04,2016-10-02,2016-10-05
8,9,48.180000,2325228,D,9395,Serviced Apartment,2.0,non-chain,2016-08-04,2016-10-01,2016-10-02
9,10,81.740000,331350,D,9395,Hotel,3.0,non-chain,2016-08-05,2016-10-01,2016-10-04
10,11,172.053333,1853178,B,9395,Hotel,4.0,non-chain,2016-08-06,2016-10-01,2016-10-04
11,12,24.920000,1737924,D,9395,Hostel,2.0,non-chain,2016-08-06,2016-10-01,2016-10-04
12,13,81.400000,331350,D,9395,Hotel,3.0,non-chain,2016-08-06,2016-10-02,2016-10-05
13,14,43.320000,572060,D,9395,Serviced Apartment,2.0,non-chain,2016-08-06,2016-10-02,2016-10-03
14,15,64.860000,588768,D,9395,Hotel,3.0,non-chain,2016-08-06,2016-10-05,2016-10-06
15,16,234.120000,2313076,B,9395,Hotel,5.0,chain,2016-08-07,2016-10-06,2016-10-07
16,17,116.980000,257678,C,9395,Hotel,4.0,non-chain,2016-08-07,2016-10-04,2016-10-05
17,18,181.420000,2313076,B,9395,Hotel,5.0,chain,2016-08-07,2016-10-02,2016-10-04
18,19,159.620000,96982,B,9395,Hotel,4.0,chain,2016-08-08,2016-10-07,2016-10-10
19,20,148.213333,150994,C,9395,Hotel,3.0,non-chain,2016-08-08,2016-10-07,2016-10-10
20,21,81.400000,331350,D,9395,Hotel,3.0,non-chain,2016-08-08,2016-10-03,2016-10-05
21,22,42.100000,197996,D,9395,Hotel,3.5,non-chain,2016-08-08,2016-10-03,2016-10-04
22,23,261.660000,597472,A,9395,Guest House / Bed & Breakfast,3.0,non-chain,2016-08-08,2016-10-05,2016-10-06
23,24,365.600000,525626,A,9395,Hotel,5.0,chain,2016-08-09,2016-10-07,2016-10-08
24,25,365.600000,525626,A,9395,Hotel,5.0,chain,2016-08-09,2016-10-08,2016-10-09
25,26,144.740000,373272,C,9395,Hotel,4.5,chain,2016-08-09,2016-10-07,2016-10-10
26,27,58.620000,297388,D,9395,Hotel,2.5,non-chain,2016-08-09,2016-10-01,2016-10-04
27,28,79.540000,581660,D,9395,Hotel,3.0,non-chain,2016-08-09,2016-10-03,2016-10-06
28,29,310.620000,587866,C,9395,Serviced Apartment,4.0,non-chain,2016-08-09,2016-10-06,2016-10-07
29,30,118.600000,587866,C,9395,Serviced Apartment,4.0,non-chain,2016-08-09,2016-10-07,2016-10-09
...,...,...,...,...,...,...,...,...,...,...,...
49034,49035,285.720000,21720,A,8584,Resort,5.0,non-chain,2016-12-30,2016-12-31,2017-01-02
49035,49036,41.960000,177510,D,8584,Serviced Apartment,3.0,non-chain,2016-12-30,2016-12-31,2017-01-01
49036,49037,41.560000,3248740,D,8584,Serviced Apartment,2.0,non-chain,2016-12-30,2016-12-31,2017-01-01
49037,49038,278.490000,21720,A,8584,Resort,5.0,non-chain,2016-12-30,2016-12-31,2017-01-02
49038,49039,366.900000,21720,A,8584,Resort,5.0,non-chain,2016-12-30,2016-12-31,2017-01-01
49039,49040,63.900000,3014460,D,8584,Hotel,2.5,non-chain,2016-12-31,2016-12-31,2017-01-01
49040,49041,278.486667,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-03
49041,49042,23.820000,3127788,D,8584,Guest House / Bed & Breakfast,2.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49042,49043,271.520000,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49043,49044,43.100000,177510,D,8584,Serviced Apartment,3.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49044,49045,63.040000,130890,D,8584,Hotel,4.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49045,49046,329.700000,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49046,49047,138.640000,130890,D,8584,Hotel,4.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49047,49048,463.300000,323744,A,8584,Hotel,4.0,chain,2016-12-31,2016-12-31,2017-01-02
49048,49049,129.320000,97014,C,8584,Resort,4.0,non-chain,2016-12-31,2016-12-31,2017-01-03
49049,49050,65.320000,130890,D,8584,Hotel,4.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49050,49051,229.140000,2064160,B,8584,Hotel,4.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49051,49052,346.120000,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49052,49053,371.580000,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49053,49054,128.000000,97014,C,8584,Resort,4.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49054,49055,311.380000,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-02
49055,49056,396.360000,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49056,49057,92.160000,1667520,C,8584,Hotel,3.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49057,49058,65.320000,130890,D,8584,Hotel,4.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49058,49059,314.020000,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49059,49060,72.580000,130890,D,8584,Hotel,4.0,non-chain,2016-12-31,2016-12-31,2017-01-02
49060,49061,70.020000,130890,D,8584,Hotel,4.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49061,49062,921.260000,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-01
49062,49063,345.086667,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-03
49063,49064,303.520000,21720,A,8584,Resort,5.0,non-chain,2016-12-31,2016-12-31,2017-01-01

# Print the first rows of the dataframe and check the type of each column

In [3]:
# Code- Printi
df.head()

,Id,Average Price,hotel_id,Hotel_Cat,city_id,accommodation_type_name,star_rating,chain_hotel,booking_date,checkin_date,checkout_date
0,1,71.06,297388,D,9395,Hotel,2.5,non-chain,2016-08-02,2016-10-01,2016-10-02
1,2,76.56,298322,D,9395,Hotel,3.0,non-chain,2016-08-02,2016-10-01,2016-10-02
2,3,153.88,2313076,B,9395,Hotel,5.0,chain,2016-08-02,2016-10-01,2016-10-02
3,4,126.60,2240838,D,9395,Hotel,3.5,non-chain,2016-08-04,2016-10-02,2016-10-03
4,5,115.08,2240838,D,9395,Hotel,3.5,non-chain,2016-08-04,2016-10-02,2016-10-03

In [4]:
df.dtypes

Id                                  int64
Average Price                     float64
hotel_id                            int64
Hotel_Cat                          object
city_id                             int64
accommodation_type_name            object
star_rating                       float64
chain_hotel                        object
booking_date               datetime64[ns]
checkin_date               datetime64[ns]
checkout_date              datetime64[ns]
dtype: object

# Print the average price of total customer

In [5]:
# Code
df['Average Price'].mean()

148.08909466239845

# Check how many uniques city ID is in the dataframe and print average price of each City ID

In [6]:
# Code
#Unique City

unique_city_id = df['city_id'].nunique()
unique_city_id

5

In [7]:
city_id = df['city_id'].unique()
city_id

array([ 9395, 17193,  5085, 16808,  8584])

In [8]:

count=0
for i in city_id:
    
    city_avg = df[df['city_id']==city_id[count]]['Average Price']
    count=count+1
    print(city_avg.mean())

100.5084579772441
118.31851981874145
224.8394264322966
218.8481770587078
142.0684979635614

# Create a new column called "Days of staying" which is the difference between checkin date and checkout date

In [9]:
# Code
#New Column
df.insert(11,'Days of staying',"")
df.columns

Index(['Id', 'Average Price', 'hotel_id', 'Hotel_Cat', 'city_id',
       'accommodation_type_name', 'star_rating', 'chain_hotel', 'booking_date',
       'checkin_date', 'checkout_date', 'Days of staying'],
      dtype='object')

In [10]:
df['Days of staying'] = (df['checkout_date'] - df['checkin_date']) / np.timedelta64(1, 'D')
df['Days of staying']

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
5        2.0
6        1.0
7        3.0
8        1.0
9        3.0
10       3.0
11       3.0
12       3.0
13       1.0
14       1.0
15       1.0
16       1.0
17       2.0
18       3.0
19       3.0
20       2.0
21       1.0
22       1.0
23       1.0
24       1.0
25       3.0
26       3.0
27       3.0
28       1.0
29       2.0
        ...
49034    2.0
49035    1.0
49036    1.0
49037    2.0
49038    1.0
49039    1.0
49040    3.0
49041    1.0
49042    1.0
49043    1.0
49044    1.0
49045    1.0
49046    1.0
49047    2.0
49048    3.0
49049    1.0
49050    1.0
49051    1.0
49052    1.0
49053    1.0
49054    2.0
49055    1.0
49056    1.0
49057    1.0
49058    1.0
49059    2.0
49060    1.0
49061    1.0
49062    3.0
49063    1.0
Name: Days of staying, Length: 49064, dtype: float64

# Create a new Column called "Villa" which will be derived from the 'accommodation_type_name' column in the dataframe. If accomation type contains villa put 'Yes' as value, otherwise 'No'.

In [12]:
# Code
df2= df
df2.insert(12,'Villa',"NO") #Assigning ever with NO

In [13]:
df2['accommodation_type_name'].unique()

array(['Hotel', 'Serviced Apartment', 'Hostel',
       'Guest House / Bed & Breakfast', 'Motel', 'Apartment', 'Resort',
       'Ryokan', 'Resort Villa', 'Private Villa', 'Bungalow', 'Villa',
       'Holiday Park / Caravan Park', 'Capsule Hotel', 'Love Hotel',
       'Home'], dtype=object)

In [14]:
df2['accommodation_type_name'].str.contains('Villa', regex=False).sum()

416

In [21]:
acom_villa = df2[df2['accommodation_type_name'].str.contains('Villa', regex=False)]
yes_index = acom_villa[['accommodation_type_name','Villa']].index
yes_index

Int64Index([22372, 22382, 22396, 22412, 22426, 22429, 22445, 22462, 22464,
            22470,
            ...
            48091, 48178, 48198, 48202, 48207, 48493, 48776, 48820, 48995,
            49029],
           dtype='int64', length=416)

In [41]:
count=0
for i in range(416):

TypeError: 'Int64Index' object is not callable

In [35]:
acom_villa['Villa'].count()

416

In [42]:
df2['accommodation_type_name'].str.contains('Villa', regex=False).sum()

416

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().